body {
  margin: 0;
  background: black;
  font-family: sans-serif;
}

.container {
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-top: 150px;
}

.line {
  text-transform: uppercase;
  padding-bottom: 8px;
  letter-spacing: 4px;
  font-size: clamp(1.5rem, 5vw, 6.5rem);
  color: white;
  font-weight: bold;
  position: relative;
  line-height: 110%;

  filter: blur(40px);
  transition: filter 0.05s linear;
}

.line.hindi {
  text-transform: none;
  letter-spacing: 1px;
}
